body{
font-family: sans-serif;
background-color: rgb(245, 245, 245);
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 20px;
font-size: small;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 16px;
}





footer {
  text-align: center;
  padding: 15px;
  background: #1e2a38;
  color: #fff;
  margin-top: 30px;
  font-size: 0.9;
}


button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #ff9a56, #ff6b35);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 154, 86, 0.4);
}

.total {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px 0;
}